h1{
    color: white;
}

body {
    background-image: url(/IMG/imagen.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
  }
/* Contenedor del tipo de servicios */
.servicios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

/* Tarjetas de pasajeros y carga */
.servicios div {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 34%;
    text-align: center;
    transition: transform 0.3s ease;
    color: black;
}
.pasajeros{
    margin-right: -8%;
}
.carga{
    margin-left: -8%;
}

/* Efecto hover en servicios */
.servicios div:hover {
    transform: scale(1.02);
}

/* Imágenes dentro de servicios */
.servicios img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Títulos en la sección de servicios */
.servicios h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.572);
    padding: 10px;
    text-align: center;
    margin-top: 62px;
}
footer a{
    color: white;
}


/* Responsive */
@media screen and (max-width: 1024px) {
    .servicios div {
        width: 90%;
    }
}

