h1{
    color: white;
}

/* Contenedor del tipo de servicios */
.servicios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

/* Tarjetas de pasajeros y carga */
.servicios div {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 45%;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    color: black;
}

/* Efecto hover en servicios */
.servicios div:hover {
    transform: scale(1.05);
}

/* Imágenes dentro de servicios */
.servicios img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 15px;
}

/* Títulos en la sección de servicios */
.servicios h3 {
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

body{
    background-color: black;
}

/* Responsive */
@media screen and (max-width: 1024px) {
    .servicios div {
        width: 90%;
    }
}

