* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.8%;
}

nav {
    background: linear-gradient(to right, #ffffff, white);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav h1{
    text-align: center;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 0 1.5rem;
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 8px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(16, 16, 16, 0.1);
    top: 0;
    left: -100%;
    transition: left 0.3s ease-in-out;
}

nav a:hover::before {
    left: 0;
}

nav a:hover {
    color: #00c3ff;
    transform: translateY(-2px);
}



footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.572);
    padding: 10px;
    text-align: center;
    margin-top: auto;
    z-index: 10;
}

/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
    background: #00b1e7;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #00c3ff;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #00c3ff;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #00c3ff;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }




/* Responsive */
@media (max-width: 480px) {
    header {
        font-size: 1.2rem;
    }
    
    nav a {
        font-size: 0.8rem;
        padding: 8px;
    }
}


@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }
    
    nav a {
        display: block;
        padding: 10px;
        font-size: 0.9rem;
    }
}