

h1 {
    color: white;
}

body {
  background-image: url(/IMG/imagen.png);
  background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Hace que la imagen se mantenga fija al hacer scroll */
  margin: 0;
  font-family: 'Roboto', sans-serif;
}



/* Contenedor de aviones */
.aviones {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 0px;
    margin-top: 20px;

    width: 85%;
}

.aviones-container {
  display: grid;
  place-items: center;
  height: 20vh;
}

/* Tarjetas de aviones */
.aviones div {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.15s ease, box-shadow 0.3s ease;
    color: black;
    height: 80%;
}

.aviones div:hover {
    transform: scale(1.02);
}

/* Títulos de aviones */
.aviones h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Imágenes */
.aviones img {
    border-radius: 10px;
    margin: 15px;
    width: 100%;
    max-width: 400px;
    height: auto;
}

/* Botón */
.show-details {
    padding: 12px 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.show-details:hover {
    background-color: grey;
    color: black;
    transform: scale(1.05);
}


/* Asegurar que la información esté visible desde el principio */
.more-info {
  display: block; /* Cambiado de 'none' a 'block' */
  opacity: 0; /* Ocultar la información con opacidad */
  transition: opacity 0.3s ease; /* Añadir transición suave */
}

/* Cuando se hace clic, aumentar el ancho del contenedor y mostrar la información */
.aviones div.expanded .more-info {
  opacity: 1; /* Mostrar la información con opacidad */
}

.aviones div.expanded {
  height: 90%; /* Expandir el contenedor cuando se hace clic */
  transition: width 0.3s ease; /* Animación suave para el cambio de tamaño */
}



/* Responsive */
@media screen and (max-width: 1024px) {
    .aviones {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .aviones {
        grid-template-columns: 1fr;
    }
}
