* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/IMG/index.jpg);
    background-repeat: no-repeat ;
    margin: 0;
    padding: 0;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


.iniciosesion {
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
}



.iniciosesion h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #000000;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 12px;
    font-weight: normal;
    font-size: 14px;
    color: #333333;
}

form input {
    margin-top: 8px;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333333;
    background-color: #ffffff;
}

form button, .back-button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

form button:hover, .back-button:hover {
    background-color: #303030;
}

